.boardContainer {
}

.titleContainer {
    margin-bottom: 15px;
}

.boardTitle {
    text-align: center;

    font-size: 2rem;
}

.boardItems {
}

.item {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;

    width: 500px;

    border-radius: 10px;
    padding: 10px;
}

.userId {

}

.ranking {

}

.score {

}
