@import 'styles/utils';

.outerDiv{
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: yellow;
    top:20%;
    max-width: 100%;
}

.section{
    position: relative; 
    margin-left: 5%;
}

.rankNameDiv{
    position: relative;
    display: flex;
    font-size: 25px;
    height: 50px;
    
}
.innerDiv{
    position: relative;
    display: flex;
    width: 100%;
}
.imgDiv{
    position: relative;

    height: 300px;
    width: 200px;
    border: 2px solid black;
}

.infoOuterDiv{
    display:flex;
    flex-direction: column;
    
    padding-left: 3%;
    width: 400px;
}

.infoDiv{
    flex-direction: row;

    padding-bottom: 5%;
    font-size: 20px;
    font-weight: bold;
}

.infoSpan{
    height: 25px;
    font-weight: normal;
}