.roulette {
    display: flex;
}

.rouletteSlot {
    position: relative;
}

.slotItemsContainer {
    position: relative;
    overflow-y: auto;

    width: 200px;
    height: 500px;
    
    border: 1px solid black;
    border-radius: 10px;

    text-align: center;

    &::-webkit-scrollbar {
        display: none;
    }
}

.slotItems {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100%;
}

.slotItem {
    
}

.buttonContainer {
    display: flex;
    justify-content: center;

    margin-top: 15px;
}

.button {
    border: 1px solid black;
    border-radius: 10px;
    background: none;

    padding: 10px 15px;
}

