@import 'styles/utils';

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;

    width: 100vw;
    height: 100vh;
}

.viewport {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    align-items: center;
    border: 1px solid black;
}

.title {
    font-size: 2rem;
    border: 1px solid black;
}

.formInput {
    top: 40%;

    width: 200px;
    height: 20px;

    padding: 10px;
    
    border-radius: 5px;

    border: 1px solid black;
}

.linkContainer {
    width: 100%;

    border: 1px solid black;
}

.link {
    margin-left: 20px;
}
